*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: grey;
    min-height: 100vh;
}


.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
}
.plus-counter{
    height: 150px;
    width: 150px;
    font-size: 75px;
    cursor: pointer;
    margin: 30px;
    border-radius: 50%;
    background: blue;
    border: none;
}
.counter{
    height: 100px;
    width: 100px;
    font-size: 100px;
    text-align: center;
}
.minus-counter{
    height: 150px;
    width: 150px;
    font-size: 75px;
    cursor: pointer;
    margin: 30px;
    border-radius: 50%;
    background: red;
    border: none;

}
.plus-counter:hover {
    background-color: #2980b9;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.minus-counter:hover {
    background-color: #ad3225;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.plus-counter:active {
    transform: translateY(2px) scale(0.95);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.minus-counter:active {
    transform: translateY(2px) scale(0.95);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}